<div  class="card-detail" data-card-id="{{ card.card_id }}">
    <div class="card-title">
      <h1 contenteditable="true">{{ card.name }}</h1>
      <button class="close">&times;</button>
    </div>
    <div class="card-wrapper">
      <div class="card-content-wrapper">
        <div class="card-content">
          <pre contenteditable="true">{{ card.content }}</pre>
        </div>
        <div class="card-info">
          <div class="card-info-title">Additional Information:</div>
          <div class="card-info-item">
            <div class="card-info-label">Column:</div>
            <div contenteditable="true" class="card-info-value column">{{ card.column }}</div>
          </div>
          <div class="card-info-item">
            <div class="card-info-label">Creation Date:</div>
            <div contenteditable="true" class="card-info-value">{{ card.creation_date }}</div>
          </div>
          <div class="card-info-item">
            <div class="card-info-label">Last Modified:</div>
            <div contenteditable="true" class="card-info-value">{{ card.last_modified }}</div>
          </div>
          <div class="card-info-item">
            <div class="card-info-label">Assignee:</div>
            <div contenteditable="true" class="card-info-value">{{ card.assignee }}</div>
          </div>
          <div class="card-info-item">
            <div class="card-info-label">Type:</div>
            <div contenteditable="true" class="card-info-value">{{ card.card_type }}</div>
          </div>
          <div class="card-info-item">
            <div class="card-info-label">Epic Link:</div>
            <div contenteditable="true" class="card-info-value">{{ card.epic_link }}</div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  