<!-- Detailed view of the card -->
<div class="card-detail" data-card-id="{{ card.card_id }}">
    <!-- Render the form fields -->
    <form method="post" class="card-form">
        {% csrf_token %}
        <!-- Title field -->
        <div class="form-group">
          {{ form.name.label_tag }}
          {{ form.name }}
          <div class="card-title">{{card.name}}</div>
        </div>
    
        <!-- Content field -->
        <div class="form-group">
          {{ form.content.label_tag }}
          {{ form.content }}
        </div>
    
        <!-- Other fields -->
        <div class="form-group form-column">
          <!-- Creation date field -->
          <div class="form-field">
            {{ form.creation_date.label_tag }}
            {{ form.creation_date }}
          </div>
    
          <!-- Last modified field -->
          <div class="form-field">
            {{ form.last_modified.label_tag }}
            {{ form.last_modified }}
          </div>
    
          <!-- Column field -->
          <div class="form-field">
            {{ form.column.label_tag }}
            {{ form.column }}
          </div>
    
          <!-- Assignee field -->
          <div class="form-field">
            {{ form.assignee.label_tag }}
            {{ form.assignee }}
          </div>
    
          <!-- Card type field -->
          <div class="form-field">
            {{ form.card_type.label_tag }}
            {{ form.card_type }}
          </div>
    
          <!-- Epic link field -->
          <div class="form-field">
            {{ form.epic_link.label_tag }}
            {{ form.epic_link }}
          </div>
        </div>
    
        <button type="submit" class="save-button">Save</button>
      </form>
  
   
  </div>
  