<div class="boards" >
    <div class="board">
        <h3>Backlog</h3>
        <div class="dropzone">
            <div class="card" draggable="true">
                <div class="status red"></div>
                <div class="content">refinar cards</div>
            </div>
        </div>
    </div>
    <div class="board">
        <h3>Ready to Play</h3>
        <div class="dropzone">

        </div>
    </div>
    <div class="board">
        <h3>In Progress</h3>
        <div class="dropzone">

        </div>
    </div>
    <div class="board">
        <h3>Ready for Deploy</h3>
        <div class="dropzone">

        </div>
    </div>
    <div class="board">
        <h3>Done</h3>
        <div class="dropzone">

        </div>
    </div>
</div>