<div class="kanban">
    <div class="boards" >
        <div class="board">
            <div class="board-header">
                <h3>Backlog</h3>
                <button class="create-card-button">+</button>
            </div>
            <div class="dropzone">
                {% for card in cards %}
                    {% if card.column == "backlog"%}
                        <div class="card" draggable="true" data-card-id="{{ card.card_id }}" data-column="{{ card.column }}">
                            <div class="status green"></div>
                            <div class="card-right">
                                <div class="card-head">
                                    <div class="content">{{card.name}}</div>
                                </div>
                                <div class="card-body">
                                    <div class="epic-link">{{card.epic_link}}</div>
                                </div>
                                <div class="card-foot">
                                    <div class="assignee">{{card.assignee}}</div>
                                    <div class="days-on-column">
                                        {% if card.last_modified < today %}
                                            {{ today|timesince:card.last_modified }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="board">
            <div class="board-header">
                <h3>Ready-to-Play</h3>
                <button class="create-card-button">+</button>
            </div>
            <div class="dropzone">
                {% for card in cards %}
                    {% if card.column == "ready-to-play"%}
                        <div class="card" draggable="true" data-card-id="{{ card.card_id }}" data-column="{{ card.column }}">
                            <div class="status green"></div>
                            <div class="card-right">
                                <div class="card-head">
                                    <div class="content">{{card.name}}</div>
                                </div>
                                <div class="card-body">
                                    <div class="epic-link">{{card.epic_link}}</div>
                                </div>
                                <div class="card-foot">
                                    <div class="assignee">{{card.assignee}}</div>
                                    <div class="days-on-column">
                                        {% if card.last_modified < today %}
                                            {{ today|timesince:card.last_modified }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="board">
            <div class="board-header">
                <h3>In-Progress</h3>
                <button class="create-card-button">+</button>
            </div>
            <div class="dropzone">
                {% for card in cards %}
                    {% if card.column == "in-progress"%}
                        <div class="card" draggable="true" data-card-id="{{ card.card_id }}" data-column="{{ card.column }}">
                            <div class="status green"></div>
                            <div class="card-right">
                                <div class="card-head">
                                    <div class="content">{{card.name}}</div>
                                </div>
                                <div class="card-body">
                                    <div class="epic-link">{{card.epic_link}}</div>
                                </div>
                                <div class="card-foot">
                                    <div class="assignee">{{card.assignee}}</div>
                                    <div class="days-on-column">
                                        {% if card.last_modified < today %}
                                            {{ today|timesince:card.last_modified }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="board">
            <div class="board-header">
                <h3>Ready-for-Deploy</h3>
                <button class="create-card-button">+</button>
            </div>
            <div class="dropzone">
                {% for card in cards %}
                    {% if card.column == "ready-for-deploy"%}
                        <div class="card" draggable="true" data-card-id="{{ card.card_id }}" data-column="{{ card.column }}">
                            <div class="status green"></div>
                            <div class="card-right">
                                <div class="card-head">
                                    <div class="content">{{card.name}}</div>
                                </div>
                                <div class="card-body">
                                    <div class="epic-link">{{card.epic_link}}</div>
                                </div>
                                <div class="card-foot">
                                    <div class="assignee">{{card.assignee}}</div>
                                    <div class="days-on-column">
                                        {% if card.last_modified < today %}
                                            {{ today|timesince:card.last_modified }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="board done">
            <div class="board-header">
                <h3>Done</h3>
                <button class="create-card-button">+</button>
            </div>
            <div class="dropzone">
                {% for card in cards %}
                    {% if card.column == "done"%}
                        <div class="card" draggable="true" data-card-id="{{ card.card_id }}" data-column="{{ card.column }}">
                            <div class="status green"></div>
                            <div class="card-right">
                                <div class="card-head">
                                    <div class="content">{{card.name}}</div>
                                </div>
                                <div class="card-body">
                                    <div class="epic-link">{{card.epic_link}}</div>
                                </div>
                                <div class="card-foot">
                                    <div class="assignee">{{card.assignee}}</div>
                                    <div class="days-on-column">
                                        {% if card.last_modified < today %}
                                            {{ today|timesince:card.last_modified }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>